# Compiled class files
*.class

# Java archives
*.jar
*.war
*.ear

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Build folderi
bin/
build/
target/

# Log fajlovi
*.log